<nav>
	<h2>BATCH 2017</h2>
</nav>
<aside>
	<h2>TEAM</h2>
	<div class="profile">
		<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
		<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
		<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
		<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
		<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
	</div>
</aside>
<section>	
	<div class="row profile-batch">
		<div class="col-md-offset-1 col-md-2 text-center">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
		</div>
		<div class="col-md-2 text-center">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
		</div>
		<div class="col-md-2 text-center">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
		</div>
		<div class="col-md-2 text-center">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
		</div>
		<div class="col-md-2 text-center">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
		</div>
	</div>
</section>