<!--<h1>{{title}}</h1>-->
<nav>
	<h2>BATCH 2017</h2>
</nav>
<aside>
	<h2>TEAM</h2>
	<div class="profile">
		<div *ngFor="let user of users">
			<img [src]="user.profilePicture" [alt]="user.name">
		</div>
	</div>
</aside>
<section>	
	<div class="row profile-batch">
		<div class="col-md-2 text-center" *ngFor="let batch of participantBatches">
			<div *ngFor="let participant of batch">
				<a [routerLink]="['/user', participant.id]">
					<img [src]="participant.profilePicture" [alt]="participant.name">
				</a>
			</div>
		</div>
	</div>
</section>