<aside>
	<h1>TEAM</h1>
	<div class="profile">
		<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
		<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
		<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
		<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
		<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
	</div>
</aside>
<section>
	<h1>BATCH 2017</h1>
	<div class="row profile-batch">
		<div class="col-md-offset-1 col-md-2">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
		</div>
		<div class="col-md-2">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
		</div>
		<div class="col-md-2">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
		</div>
		<div class="col-md-2">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
		</div>
		<div class="col-md-2">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
			<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
		</div>
	</div>
</section>