<aside class="profile-chat text-center">
	<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
	<h5>Nombre:</h5>
	<p>Annie Azaña</p>
	<h5>Github:</h5>
	<p>https://github.com/Astephannie</p>
	<h5>Linkedin:</h5>
	<p>https://www.linkedin.com/in/astephannie/</p>
	<h5>Correo:</h5>
	<p>astephannie@gmail.com</p>
</aside>
<section class="chat">
	<div class="chat-description">
		<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
		<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
	</div>
	<div class="chat-description">
		<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
		<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
	</div>
	<div class="chat-description">
		<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
		<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
	</div>
	<div class="chat-description">
		<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
		<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
	</div>
	<div class="chat-description">
		<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
		<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
	</div>
	<div class="chat-description">
		<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
		<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
	</div>
	<div class="chat-description">
		<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
		<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
	</div>
	<div class="chat-description">
		<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
		<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10299-200.png">
	</div>
</section>
<section class="comment text-right">
	<form>
		<input type="text" name="">
		<button class="btn">ENVIAR</button>
	</form>
</section>